.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.414);

    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent{
    width: 600px;
    min-height: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.414);
    color:black;
}